<div class="p-4" onclick="">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="text-xl" href="/" Match="NavLinkMatch.All"> Home
            </NavLink>
        </div>
    </nav>
</div>

