@inject ProfileDataService ProfileDataService
@using System.Text.Json
@using System.Text.Json.Serialization
@if (CurrentProfile != null) {
<div @onclick="ToggleAccordion" class="h-20 items-center flex flex-row w-full text-2xl border-y-2 border-x-0 border-black p-4" role="button" @ontouchenter="ToggleAccordion">
    <span>Skills</span>
    <span class="w-8 h-4 flex"><img src="chev-left.png" class="@GetChevronClass() w-full transition-all  object-scale-down"></span>
</div>
@if (IsAccordionOpen)
{

    <div class="w-full border-slate-700 p-2">
<ul class="list-style-none flex flex-col gap-4">
@foreach (SkillValue skill in CurrentProfile.SkillValues) {
    <li class="flex flex-row text-xl border-b-2 border-black p-4">
        <span class="w-1/3">@skill.Name</span>
        <span class="w-1/3 text-center">@skill.Level</span>
        <span class="w-1/3 text-right">@skill.Xp.ToString("N0")</span>
    </li>
}
</ul>
    </div>

}
}
@code {
    private ProfileData? CurrentProfile => ProfileDataService.ProfileData;
    private bool IsAccordionOpen = false;
    protected override void OnInitialized()
    {
        ProfileDataService.OnProfileDataUpdated += HandleProfileDataUpdated;
    }

     private void ToggleAccordion()
    {
        IsAccordionOpen = !IsAccordionOpen;
    }

private string GetChevronClass()
    {
        return IsAccordionOpen ? "-rotate-90" : "rotate-90";
    }
    private void HandleProfileDataUpdated()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        ProfileDataService.OnProfileDataUpdated -= HandleProfileDataUpdated;
    }
}