@page "/"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime JSRuntime
<PageTitle>Home</PageTitle>

<h1 class="text-center text-5xl p-4 ">RS3Hub</h1>
<div class="flex flex-col place-items-center">
    <form class="flex flex-col place-items-center w-fit gap-4" @onsubmit="GetProfile" @onsubmit:preventDefault><label for="rs-name" class="text-2xl ">RuneScape 3 Username:</label>
<input type="text" class="text-2xl  center w-full border-black border-solid border-2 rounded-md p-2" id="rs-name" title="rs-name" @bind="userName"/>
<button type="submit" class="w-fit text-2xl  border-dashed border-2 border-black px-2 py-1">Submit</button></form>
</div>
<div class="p-4">
    @if (profileData != null)
    {
        <div class="bg-slate-800 text-white font-fantasy p-6 max-w-sm mx-auto rounded-lg border border-stone-700 shadow-xl">
            <div class="flex justify-center">
                <img src=@profileData.AvatarUrl alt="Player Profile" class="rounded-full border-2 border-yellow-500 mb-4" />
            </div>
            <h2 class="text-center text-4xl mb-2">@profileData.Name</h2>
            <p class="text-center text-lg mb-2">Combat Level: @profileData.CombatLevel</p>
            <p class="text-center text-lg">Total XP: @profileData.TotalXp</p>
        </div>
    }
    else
    {
        <text></text>
    }
</div>

@code {
    private string? userName;
    private ProfileData? profileData;
    private class ProfileData 
    {
        [JsonPropertyName("name")]
        public string? Name {get;set;}
         [JsonPropertyName("totalxp")]
         public long? TotalXp { get; set; }
         [JsonPropertyName("combatlevel")]
         public int? CombatLevel { get; set; }
    public string? AvatarUrl {get;set;}
    }
    private async Task GetProfile()
     {
        var request = new HttpRequestMessage(HttpMethod.Get, $"https://apps.runescape.com/runemetrics/profile/profile?user={userName}&activities=20" );

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode )
        {
            var jsonResponse = await response.Content.ReadAsStringAsync();
            profileData = System.Text.Json.JsonSerializer.Deserialize<ProfileData>(jsonResponse);
        }
        else{
            Console.Write("Error fetching profile");
        }
        profileData.AvatarUrl = $"http://secure.runescape.com/m=avatar-rs/{userName}/chat.png";
     }
}